.gameContainer {
    text-align: center;
}

.gridContainer {
    display: grid;
    margin: auto auto;
    width: 500px;
    height: 500px;
    grid-template: repeat(50, 1fr) repeat(50, 1fr);
    border: 2px solid;
}

.grid-item {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}