
:root {
    font-family: "Permanent Marker", cursive;
    font-size: 100px;
    font-weight: 500;
}

.gameContainer {
    margin-top: 50px;
    text-align: center;
}

#gameBoard {
    border: 1px solid;
}

#scoreText {
    margin: 0;
}

#resetBtn {
    margin: 0;
    font-family: "Permanent Marker", cursive;
    font-size: 100px;
    font-weight: 500;
    width: 400px;
}