
html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #56455f;
}

.gameContainer {
    text-align: center;
    background-color: #2d1f35;
    border-radius: 30px;
    width: 600px;
    box-shadow: 10px 7px #18111b;
    height: 850px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitles {
    display: flex;
    align-self: end;
    margin-top: 20px;
    color: #18111b; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#gameBoard {

    margin-top: 54px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: #134426;
    box-shadow: inset 10px 7px #0e351d;
}

#title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: 600px;
    margin: 50px 0px 46px 46px;
    color: #5d4866;
    text-shadow: 3px 3px #19101d;
}

#version {
    font-family: 'Dancing Script', cursive;
    color: #3a945c;
    font-weight: 200;
    text-shadow: hsl(143, 44%, 60%) !important;
}

#scoreText {
    box-shadow: inset 10px 7px #0e351d;
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
    padding: 5px 0 15px 0;
    font-weight: 700;
    margin: 10px auto 15px auto;
    background-color: #134426;
    width: 500px;
    height: 60px;
    border-radius: 20px;
    border: 2px solid #fff;
    color: green;
  
}

#resetBtn {
    float: left;
    margin: 30px 0px 46px 46px;
    color: hsl(0, 55%, 33%);
    font-family: 'Comic Sans MS', cursive;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    height: 100px;
    width: 200px;
    background: rgb(102, 19, 19);
    border-radius: 30px;
    border: none;
    box-shadow: 10px 7px rgb(51, 11, 11);
    transition: transform 0.1s ease;
}

#resetBtn:hover {
    background: rgb(155, 32, 32);
    cursor: pointer;
}

#resetBtn:focus-visible,  #resetBtn:focus{
    transform: none;
    border: none;
    outline: none;
}

#resetBtn:active {
    background: rgb(253, 89, 89);
    transform: translate(6px, 3px);
    box-shadow: none;
}


.colorSelectorContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    height: 100px;
    width: 100%;
    background-color: #2d1f35;
    border: none;
    border-radius: 30px;
    box-shadow: 10px 7px #18111b;
    overflow: hidden;
}

.colorSelectorContainer button {
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.colors {
    cursor: pointer;
    transition: filter 0.3s ease;
}
.colors:hover {
    filter: brightness(1.5);
}

#green {
    background-color: green;
}

#blue {
    background-color: lightskyblue;
}

#pink {
    background-color: rgb(221, 113, 163) ;
}
#rainbow {
    background: linear-gradient(90deg, 
    red 16.66%, 
    orange 16.66% 33.33%, 
    yellow 33.33% 50%, 
    green 50% 66.66%, 
    blue 66.66% 83.33%, 
    indigo 83.33% 100%);
}
